{% extends 'baseadmin.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('styles/commentaire.css') }}">
{% endblock %}

{% block body %}

<main>
    <h2>Commentaires</h2>
    
    <table>
        <tr>
            <th>Produit</th>
            <th>Commentaire-titre</th>
            <th>Commentaire-contenu</th>
            <th>Actions</th>
        </tr>
        {% for commentaire in commentaires %}
            <tr>
                <td>{{ commentaire.produit.nom }}</td>
                <td>{{ commentaire.titre }}</td>
                <td>{{ commentaire.contenu }}</td>
                <td>
                    <form action="{{ path('commentaireDelete') }}" method="post">
                        <input type="hidden" name="commentaireId" value="{{ commentaire.id }}">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete_commentaire') }}">
                        <button type="submit">Supprimer</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
    </table>
</main>

{% endblock %}
